body{
  background-color:black;
  background-image: url('../images/mtbackground.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  color:white;
  font-family: 'Noto Serif', serif;
  }

#indexText{
  margin-top:5%;
  text-shadow: 1px 1px #000000;

}

.muted{
  opacity:.5;
}

#about-info{
  margin-top:5%;
  text-shadow: 1px 1px #000000;
}

#allhikestitle{
  text-align: left;
}

#individualComment{
  margin-top:40px;
}

.navbar{
  opacity:.5;
}

.navbar-brand{
  font-weight:bold;
  color:black;
}

.nav navbar-nav{
  font-weight:bold;
  color:black;
}

#allHikesInfo{
  margin:5% 25% 0 10%;

}

a{
  color:white;
  text-decoration: underline;
}

.map-canvas {
  height: 300px;
  width: 300px;
}
