<div id="about-info">
  <p>
    Welcome to the NW Hikers Forum, an online community dedicated to hiking and exploring the outdoors the NorthWest! The field guide is written by our forum members, and provided for the larger hiking community as a free service to promote hiking and our trail legacy. The forums and field guide can be browsed by anyone, but we do encourage you set up an account and join in the conversation. Thanks for stopping by! Safe Hiking!
  </p>
</div>
