<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-targe='#bs-example-navbar-collapse-1'>
        <span class='sr-only'>Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class='navbar-brand' href='#'>NW Hiking Trails</a>
    </div>

    <div class="collaspe navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class='nav navbar-nav'>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'hikes'}}Hikes{{/link-to}}</li>
        <li>{{#link-to 'new-hike'}}New Hike{{/link-to}}</li>
        <li>{{#link-to 'sort-by-rank'}}Hikes Sorted By Rank{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>

<hr>

<div class='container'>
  {{outlet}}
</div>
