<div id="indexText">
  <h1>Welcome to NorthWest Hiking Trails Forum</h1>

    <p>
      Most people associate the Pacific Northwest with a lush region that receives large amounts of rain during the winter months, with wonderful summer days. But the Northwest has a variety of climate regions, from the Pacific Coast to the valley and, once over the mountains, a desert region -- all within a few hours drive of each other. There is enough to keep the outdoor enthusiast busy. Hiking and Backpacking are very popular throughout this region, especially in the Cascade mountains. The Pacific Crest Trail is a very long trail that starts in British Columbia, heads south through the Cascade mountains to California; other opportunities for hiking/backpacking can be found nearly everywhere.
    </p>
</div>
